<!doctype html>
<html lang="en" ng-app="uHunt">
<head>
    <meta charset="utf-8">
    <title>uHunt-Books</title>
    <link rel="stylesheet" href="uhunt.css" />
    <!--<link rel="shortcut icon" href="images/uva-rounded.png" />-->
    <script src="js/angular.js"></script>
    <script src="js/uhunt-base.js"></script>
    <script src="js/uhunt-problem-search.js"></script>
    <script src="js/uhunt-statistics.js"></script>
    <script src="js/uhunt-livesubs.js"></script>
    <script src="js/uhunt-cpbook.js"></script>
    <script src="js/uhunt-AOAPC.js"></script>
    <script src="js/uhunt-CPE.js"></script>
    <script src="js/uhunt-ranklist.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script src="js/i18next-1.7.7.min.js"></script>
    <script>
        angular.module('uHunt', [
          'uHunt.base',
          'uHunt.problem_search',
          'uHunt.statistics',
          'uHunt.livesubs',
          'uHunt.cpbook',
          'uHunt.AOAPC',
          'uHunt.CPE',
          'uHunt.ranklist',
        ])

        .factory('uhunt', function ($rootScope, $location, uhunt_config, uhunt_util, uhunt_rpc) {

            function fetch() {
                if (!uhunt_config.user.uid) return;
                console.log('Fetching statistics for uid: ' + uhunt_config.user.uid);
                uhunt_rpc.subs_since(uhunt_config.user.uid, 0, function (res) {
                    uhunt_config.user.clear();
                    uhunt_config.user.set_name(res.name);
                    uhunt_config.user.set_uname(res.uname);
                    for (var i = 0; i < res.subs.length; i++) {
                        var s = res.subs[i];
                        uhunt_config.user.update({ sid: s[0], pid: s[1], ver: s[2], run: s[3], sbt: s[4], lan: s[5], rank: s[6] });
                    }
                    uhunt_config.user.notify_all();
                });
            }

            $rootScope.uhunt_user = uhunt_config.user;
            $rootScope.$watch('uhunt_user.uid', fetch);

            $rootScope.sumbit_username = function() {
                if (!$rootScope.username_input) return;
                $.get('http://uhunt.felix-halim.net' + '/api/uname2uid/' + $rootScope.username_input, function (data) {
                    if (data != "0") {
                        $location.path('/id/' + data);
                    }
                    else {
                        alert("Can't find user.");
                    }
                });
            }

            // Set the default statistics to be the author of uHunt >:).
            if (!uhunt_util.parse_uid_from_path($location.path())) {
                $location.path('/id/0');
            }

            $rootScope.$on('$locationChangeSuccess', function (event) {
                uhunt_config.user.uid = uhunt_util.parse_uid_from_path($location.path()); // Load this user statistics.
            });

            return uhunt_config;
        })
    </script>

    <script>
        //設定 i18next
        var option = {
            getAsync: false, //同步載入語系檔
            fallbackLng: 'en',
			ns: { 
				namespaces: ['index'], 
				defaultNs: 'index'
			},
            fallbackToDefaultNS: true,
            debug: true
        }; 

        var languageList = [
            ['English', 'en'],
            ['繁體中文', 'zh-TW']
        ];

        $.i18n.init(option, function(t) { });

        $(document).ready(function() {
            $(document).i18n();

            //建立語言清單
            var host_path = window.location.pathname;
            for (i = 0; i < languageList.length; i++) {
                $('#languageList').append(
                    '<a href="' + host_path + "?setLng=" + languageList[i][1] + window.location.hash + '">' + languageList[i][0] + '</a>' + ' | '
                );
            }

        });
    </script>
</head>
<body>
    <div style="margin:0 auto 48pt auto; width:970px">
        <h1>uHunt-Books</h1>
        <h2 data-i18n="WIP">!!!Work In Process!!!</h2>
        <p id="languageList" style="text-align:right">
            <!--清單開頭的 | -->
             | 
        </p>
        <p data-i18n="[html]uhunt-Book-intro"/>
        <form ng-submit="sumbit_username()">
            <p style="margin:0">
                Your UVa username:
                <input ng-model="username_input" placeholder="UVa username" value="" size="13"/>
                <button type="submit">View</button>
            </p>
        </form>
        <form ng-submit="problem_search.show=true; problem_search.search(2,1)">
            <p>
                Search Problem Number:
                <input ng-model="problem_search.number" value="100" style="width:60px">&nbsp;
                <input type="submit" value="Search">
                <button ng-click="problem_search.number=''; problem_search.hide()">Clear</button>
            </p>
        </form>
        <div uhunt-problem-search="problem_search.number" show="problem_search.show" search="problem_search.search" hide="problem_search.hide"></div>
        <div style="clear:both" uhunt-livesubs></div>
        <hr style="clear:both">
        <div uhunt-statistics></div>
        <hr style="clear:both">
        <div uhunt-cpbook></div>
        <hr style="clear:both">
        <div uhunt-aoapc></div>
        <hr style="clear:both">
        <div uhunt-cpe></div>
        <hr style="clear:both">
        <div uhunt-ranklist></div>
        <hr style="clear:both">
        <div>
            <h2 data-i18n="FAQ-Title" align="center">Frequently Asked Questions</h2>
            <ul>
                <li data-i18n="[html]FAQ-Q1"></li>
            </ul>
        </div>
    </div>
</body>
</html>
