<!doctype html>
<html lang="en" ng-app="uHunt">
<head>
    <meta charset="utf-8">
    <title>uHunt-Books</title>
    <link rel="stylesheet" href="uhunt.css" />
    <link rel="shortcut icon" href="images/uva-rounded.png" />
    <script src="js/angular.js"></script>
    <script src="js/uhunt-base.js"></script>
    <script src="js/uhunt-problem-search.js"></script>
    <script src="js/uhunt-statistics.js"></script>
    <script src="js/uhunt-livesubs.js"></script>
    <script src="js/uhunt-cpbook.js"></script>
    <script src="js/uhunt-AOAPC.js"></script>
    <script src="js/uhunt-ranklist.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script>
        angular.module('uHunt', [
          'uHunt.base',
          'uHunt.problem_search',
          'uHunt.statistics',
          'uHunt.livesubs',
          'uHunt.cpbook',
          'uHunt.AOAPC',
          'uHunt.ranklist',
        ])

        .factory('uhunt', function ($rootScope, $location, uhunt_config, uhunt_util, uhunt_rpc) {

            function fetch() {
                if (!uhunt_config.user.uid) return;
                console.log('Fetching statistics for uid: ' + uhunt_config.user.uid);
                uhunt_rpc.subs_since(uhunt_config.user.uid, 0, function (res) {
                    uhunt_config.user.clear();
                    uhunt_config.user.set_name(res.name);
                    uhunt_config.user.set_uname(res.uname);
                    for (var i = 0; i < res.subs.length; i++) {
                        var s = res.subs[i];
                        uhunt_config.user.update({ sid: s[0], pid: s[1], ver: s[2], run: s[3], sbt: s[4], lan: s[5], rank: s[6] });
                    }
                    uhunt_config.user.notify_all();
                });
            }

            $rootScope.uhunt_user = uhunt_config.user;
            $rootScope.$watch('uhunt_user.uid', fetch);

            $rootScope.sumbit_username = function() {
                if (!$rootScope.username_input) return;
                $.get('http://uhunt.felix-halim.net' + '/api/uname2uid/' + $rootScope.username_input, function (data) {
                    if (data != "0") {
                        $location.path('/id/' + data);
                    }
                    else {
                        alert("Can't find user.");
                    }
                });
            }

            // Set the default statistics to be the author of uHunt >:).
            if (!uhunt_util.parse_uid_from_path($location.path())) {
                $location.path('/id/339');
            }

            $rootScope.$on('$locationChangeSuccess', function (event) {
                uhunt_config.user.uid = uhunt_util.parse_uid_from_path($location.path()); // Load this user statistics.
            });

            return uhunt_config;
        })
    </script>
</head>
<body>
    <div style="margin:0 auto; width:970px">
        <h1>uHunt-Books</h1>
        <p>
            uHunt is designed for users to effectively solve problems at <a target="_blank" href="http://uva.onlinejudge.org/index.php">UVa online-judge</a>. It provides statistics to keep track of user progress, virtual contest for group training, web API to build more tools. Watch the <a target="_blank" href="https://github.com/felix-halim/uhunt-components">uHunt development at Github</a>.

            To submit your solution, use <a target="_blank" href="http://uva.onlinejudge.org/index.php?option=com_onlinejudge&Itemid=25&page=submit_problem">UVa Quick Submit</a>.
        </p>
        <form ng-submit="sumbit_username()">
            <p style="margin:0">
                Your UVa username:
                <input ng-model="username_input" placeholder="UVa username" value="" size="13"/>
                <button type="submit">View</button>
            </p>
        </form>
        <form ng-submit="problem_search.show=true; problem_search.search(2,1)">
            <p>
                Search Problem Number:
                <input ng-model="problem_search.number" value="100" style="width:60px">&nbsp;
                <input type="submit" value="Search">
                <button ng-click="problem_search.number=''; problem_search.hide()">Clear</button>
            </p>
        </form>
        <div uhunt-problem-search="problem_search.number" show="problem_search.show" search="problem_search.search" hide="problem_search.hide"></div>
        <div style="clear:both" uhunt-livesubs></div>
        <hr style="clear:both">
        <div uhunt-statistics></div>
        <hr style="clear:both">
        <div uhunt-cpbook></div>
        <hr style="clear:both">
        <div uhunt-aoapc></div>
        <hr style="clear:both">
        <div uhunt-ranklist></div>
        <hr style="clear:both">
        <div>
            <h2 align="center">Frequently Asked Questions</h2>
            <ul>
                <li>
                    Q: What are the meaning of the colors on some problem numbers?<br>
                    A: The problem number will will be colored
                    Red if it was last submitted less than <b style="color:#FF0000">2 days</b> ago,
                    Green for less than <b style="color:#00AA00">1 week</b> ago,
                    Blue for less than <b style="color:#0000FF">1 month</b> ago,
                    Orange if the problem is <b style="color:orange">not yet Accepted</b>,
                    otherwise, <b>Black</b>.
                    In the ChatBox and in the Live Submissions, some problem numbers will be
                    <u>underlined</u> if you have solved the problem.
                    The <b>bold problem numbers</b> in the statistics denotes that
                    the runtime of your submission is equal to the best runtime (rank 1 of that problem).
                </li>
            </ul>
        </div>
    </div>
</body>
</html>
